body {
  background-image: url("/assets/images/background.png");
  background-size: 53px 72px;
  background-repeat: repeat;
}

article {
  background-color: #ededed;
  height: 100%;
}

header {
  background-color: #ededed;
}
