body {
  background-image: url("/assets/images/background.png");
  /*background-size: 35px 48px;*/
  /*background-size: 70px 96px;*/
  background-size: 52.5px 72.0px;
  background-repeat: repeat;
}

article {
  min-height: 65vh;
}
