/*  THEME COLORS    */

a {
  color: black;
}

header {
  border: 2px solid black;
}

body {
  background-color: gainsboro;
}

nav {
  color: white;
  background-color: black;
}

nav a {
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}
