/*  THEME COLORS    */

a {
  color: black;
}

header {
  border: 2px solid black;
}

body {
  background-color: #ededed;
}

nav {
  color: #ededed;
  background-color: black;
}

nav a {
  color: #ededed;
}

nav a:hover {
  background-color: #ededed;
  color: black;
}
