.epigraph {
    padding-left: 25%!important;
    padding-right: 40%!important;
    text-align: right;
    font-style: italic;
}

.episource {
    padding-left: 25%!important;
    padding-right: 40%!important;
    padding-bottom: 1rem!important;
    text-align: right;
}
