/*  PAGE MARGINS    */
article {
    margin: 0 15vw;
    padding: 1rem 0 1rem 1rem;
}

.prose p {
    padding-right: 30%;
}

/*  EMBEDDED MEDIA DISPLAY   */
iframe {
    width: 100%;
    height: 60vh;
}
