article {
  margin: 1rem 25vw 0 15vw;
}

a {
  color: black;
}

h2 {
  font-weight: normal;
}

pre {
  white-space: pre-wrap;
}

code {
  font-family: serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
