//  A lot of this is for backwards compatibility with early
    issues of trilobite, for which there was not yet a consistent
    style guideline for prose poems. Currently, the preferred
    class for prose writing is `.prose-block`.

.prose-block
  margin: 1rem 0 0 0

.prose p
  margin: 0 0 1rem 0

.thinprose
  margin: 0 0 1rem 0
  max-width: 600px
