/* TYPOGRAPHY */

h1, h2, p, ul {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* H1 */

header h1 {
    font-family: monospace;
}

article h1 {
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
}

h1 p {
    padding: 0;
}

/* CONTRIBUTOR */

.contributor {
    margin: 0 0 1rem 0;
    font-style: italic;
}

h2 {
    margin: 1rem 0 0 0;
    padding: 1rem;
    font-weight: normal;
    font-style: italic;
    border-top: 1px solid grey;
}

h2:first-of-type {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    border-top: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0 0 1rem 0;
}

article hr {
    border: none;
    margin: 1rem 0;
}

.prose p {
    margin: 0 0 1rem 0;
}

.forenote {
    font-style:italic;
    text-indent:2rem;
    margin-bottom:1rem;
}

.newpoem {
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid grey;
}
