/*  FONTS   */
h1, h2, p, ul {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-family: monospace;
}

/*  MARGINS AND PADDING */
article h1 {
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
    padding: 1rem;
    font-weight: normal;
    font-style: italic;
    border-top: 1px solid grey;
}

h2:first-child {
    border-top: none;
}

p {
    margin: 0 0 1rem 0;
}

/*  THE GREAT MYSTERY: HOW
    DO YOU TYPSET POETRY FOR
    THE WEB?                    */
.poem p {
    margin: 0;
    padding: 0 0 0 2rem;
    text-indent: -2rem;
}

.poem hr {
    border: none;
    margin: 1rem 0;
}
