h1, h2, h3, p, code {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0;
}

article h1:first-child {
  margin: 1rem 0 1rem 0;
}

header h1 {
  font-family: monospace;
}

h2 {
  font-weight: normal;
}

nav {
  font-family: monospace;
}

.poem p {
  white-space: pre-wrap;
  padding: 0 0 0 2rem;
  text-indent: -2rem;
}

.poem hr {
  border: none;
  margin: 1rem 0;
}
