#book {
    display:grid;
    grid-template-columns:auto auto;
}

.stanza {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #book {
        row-gap: 1rem;
    }
}
