<!doctype html>
<html>
  <head>
    <!--
      MADE WITH LOVE AND IGNORANCE BY SAM
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include ogp.html %}
    {% include twitter.html %}
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css" media="screen and (min-width: 800px)">
    <link rel="stylesheet" href="/assets/css/mobile.css" media="screen and (max-width: 800px)">
    <link rel="icon" href="/assets/images/tril.bmp">
{% if page.custom_css %}
{% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
{% endfor %}
{% endif %}
  </head>
  <body>
  {% include header.html %}
  {% include navigation.html %}
  <article>
    {{ content }}
  </article>
  </body>
</html>
