<!doctype html>
<html>
  <head>
    <!--
      MADE WITH LOVE AND IGNORANCE BY SAM
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include description.html %}

    {% include twitter.html %}
    {% include ogp.html %}
    <title>{{ page.title | smartify | markdownify | strip_html }}</title>

    <link rel="stylesheet" href="/assets/css/desktop.css" media="screen and (min-width: 800px)">
    <link rel="stylesheet" href="/assets/css/mobile.css" media="screen and (max-width: 800px)">
    <link rel="icon" href="/assets/images/tril.webp">
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
{% if page.custom_css %}
{% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
{% endfor %}
{% endif %}
  </head>
  <body>
  {% include header.html %}
  {% include navigation.html %}
  <article>
    {{ content }}
  </article>
  </body>
</html>
